# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.a

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exp
*.ilk
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Project specific files
build/
tests/gtests
.idea/

downloaded_files/
cmdline_test.log
*~


# MSVC
*.TMP
*.suo
Debug/
Release/
.vs/
*.VC.db
*.VC.opendb
*.csv

# 3rd-party
3rd-party/nlohmann/*
3rd-party/plog-1.1.4/*
3rd-party/.json_extracted
3rd-party/.plog_extracted


.vscode/
.pytest_cache/
*.PES
component_tests/__pycache__/
env/

# TestTsLib
msvc/2015/TestTsLib/TestTsLib/mpeg2ts.pdb
msvc/2015/TestTsLib/TestTsLib/mpeg2ts.ilk
msvc/2015/TestTsLib/TestTsLib/mpeg2ts.dll
msvc/2015/TestTsLib/TestTsLib/mpeg2ts.lib
msvc/2015/TestTsLib/TestTsLib/mpeg2ts.exp
msvc/2015/TestTsLib/TestTsLib/settings.json
